body {
  margin: 0;
  padding: 0;
  background: url("./media/pexels-freestocksorg-135129.jpg");
  background-size: cover;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
